header{
    padding: 0 4.6875rem 0 4.6875rem;
    @include grid(1fr 1fr 1fr, 1fr, 0, 0, center, center);
    background-color: $colorPrincipal1;
    .navbar-2{
        display: none;
    }
    .locationbtn{
        @include flex(column, center, center, .3125rem);
        grid-column: 3/4;
        grid-row: 1/2;
        justify-self: flex-end;
        background-color: transparent;
        border: 0;
        img{
            width: 3.75rem;
        }
        a{
            font-family: "BebasNeue";
            font-size: 1.5625rem;
            color: white;
        }
    }
}